body {
  width: 960px;
}

section {
  width: 960px;
  border: 1px solid black;
}

header {
  border: 1px solid black;
  position: relative;

}

#blog {
  width: 5px;
  height: 5px;
}

#delicious {
  position: relative;

};

#icon {
  position: absolute;
  float: left;
  
}
